<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="lib" />
      </assemblyBinding>
    </runtime>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    </appSettings>
    <connectionStrings>
        <add 
			name="DBConnectionString" 
		    connectionString="Data Source=App.takako.vn;Initial Catalog=Takako_1;Persist Security Info=True;User ID=sa;Password=Login@W;Connection Timeout=300" 
		    providerName="System.Data.SqlClient" />
        <add 
			name="Takako_Entities" 
	        connectionString="metadata=res://*/Takako_Entites.csdl|res://*/Takako_Entites.ssdl|res://*/Takako_Entites.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=App.takako.vn;initial catalog=Takako_1;persist security info=True;user id=sa;password=Login@W;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>