<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="ADGV" version="0.1.0.10" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="EPPlus" version="6.0.4" targetFramework="net461" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net461" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
</packages>